<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% trans %}GNUKhata{% endtrans %} | {{projectname}} {% trans %}Statement{% endtrans %}</title>

    <style type="text/css">
     .shadow {
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
     #latable td {
	 font-size: 75%;
	 padding: 4 !important;
	 margin: 4 !important;
     }

     #latable th {
	 font-size: 85%;
     }

     .smwrap{
	 width:4.9%
     }

     .calign{
	 text-align:center;
     }

     .card-view .title {
	 font-weight: bold;
	 display: inline-block;
	 min-width: 30%;
	 text-align: left !important;
     }

     #latable tbody {
	 display:block;
	 height: calc(100vh - 16em);
	 overflow-y:scroll;
     }
     #latable thead,#latable tbody tr {
	 display:table;
	 width:100%;
	 table-layout:fixed;
     }
     #latable thead {
	 width: calc( 100% - 0.65em );
     }

    </style>
  </head>
  <body>
    <input type="hidden" id="calculateto" name="calculateto" value="{{to}}"></input>
    <span class="pull-right" style="padding-right:15px"><i class="fa fa-question-circle pull-right" style="font-size:16px;color:black;"data-toggle="modal" data-target="#LaModal"></i></span>
    <span style="margin:auto; display:table; font-size:120%;"><strong>{% trans %}List of Accounts{% endtrans %}</strong></h3> </span>
    <div class="row">
      <button class="btn btn-sm btn-danger pull-right" type="button" style="margin-right: 15px;display:none;" id="laclearfields">{% trans %}Clear Search{% endtrans %}<span class="glyphicon glyphicon-remove" style="margin-left: 5px;"></span></button>
      <table id="latable" class="table shadow table-bordered" data-toggle="table" data-show-toggle="true"  data-search-align="left" data-buttons-align="left" data-search="true" >
	<thead class="bg-primary">
          <tr>
            <th class="col-xs-1 smwrap" >
              {% trans %}Sr.No.{% endtrans %}
            </th>
            <th class="col-xs-5" >
              {% trans %}Account Name{% endtrans %}
            </th>
            <th class="col-xs-3" >
              {% trans %}Group Name{% endtrans %}
            </th>
            <th class="col-xs-3" >
              {% trans %}Sub-Group Name{% endtrans %}
            </th>
          </tr>
	</thead>
	<tbody>

          {% for record in gkresult %}
            <tr	value="{{record["accountcode"]}}">
              <td class="col-xs-1 smwrap calign" >
		{{record["srno"]}}
              </td>
              <td class="col-xs-5">
		{{record["accountname"]}}
              </td>
              <td class="col-xs-3" >


		{{record["groupname"]}}
              </td>
              <td class="col-xs-3">
		{{record["subgroupname"]}}
              </td>
            </tr>
          {% endfor %}

	</tbody>
      </table>
      <span style="margin:auto; display:table;">
	<nbsp><nbsp>
	  <button type="button" id="backbutton" accesskey="k" class="btn btn-sm btn-danger">Bac<u>k</u></button>
	  <button class="btn btn-sm btn-primary" type="button"  id="print" accesskey="x">{% trans %}<i class="fa fa-file-excel-o" aria-hidden="true"></i> E<u>x</u>port to Spreadsheet{% endtrans %}</button>
          <button type="button" class="btn btn-sm btn-info" id="viewprintableversion" accesskey="t">{% trans %}<i class="fa fa-print" aria-hidden="true"></i> View Prin<u>t</u>able Version{% endtrans %}</button>
      </span>
    </div>

    <div id="LaModal"  tabindex="-1" class="modal fade" role="dialog"style="width:650px; margin-top: 150px; margin-left:300px;"  aria-hidden="true">
      <div class="modal-dialog bgcolor " >
   	<div class="modal-content ">
    	  <div class="modal-header">
      	    {% trans %}<strong>Help!</strong>{% endtrans %}
   	    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> </div>
	  <div class="modal-body" style="text-align: justify; text-justify: inter-word;">

	    <p>   <font color=" #566573"> {%trans%}
	      This report displays in an alphabetical order a list of accounts with Group and Sub-Group names. </br>
	      All users can view this report.
{% endtrans %} </font>

            </p>
	  </div>

	</div>
      </div>
    </div>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap-table.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/listofaccounts.js')}}"></script>

</body>
</html>
